@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #fff;
  /* font-weight: 600; */
}

body {
  background: url("../assets/bg.jpg") no-repeat center center fixed;
  width: 100%;
  height: 100dvh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100dvh;
  background: #00000026;
  backdrop-filter: blur(15px);
}

/* Day and Night backgrounds */
body.day {
  background: url("../assets/bg-day.jpg") no-repeat center center fixed;
  background-size: cover;
}

body.night {
  background: url("../assets/bg-night.jpg") no-repeat center center fixed;
  background-size: cover;
}

/* .regular-text{
    font-weight: 400;
} */

.main-container {
  /* border: solid 1px #fff; */
  width: 300px;
  height: 496px;
  z-index: 1;
  background: linear-gradient(
    to top,
    rgb(0, 0, 0, 0.15),
    rgba(255, 255, 255, 0.149)
  );
  border-radius: 15px;
  backdrop-filter: blur(100px);
  padding: 22px;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

.city-input {
  width: 100%;
  padding: 10px 18px;
  border-radius: 99px;
  border: 3px solid transparent;
  background: rgb(0, 0, 0, 0.15);
  outline: none;
  font-weight: 600;
  transition: 0.25s border;
  padding-right: 45px;
}

.city-input::placeholder {
  color: #fff;
}

.city-input::focus {
  border: 3px solid rgb(0, 0, 0, 0.15);
}

.search-btn {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
}

/* section weather */

.weather-info {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* Spinner styles */

.loading-spinner {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.location-date-container {
  /* border: solid #00ff; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location {
  /* border: solid #00db00; */
  display: flex;
  align-items: center;
  gap: 6px;
}

.weather-summary-container {
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-summary-img {
  border: none;
  width: 120px;
  height: 120px;
}

.weather-summary-info {
  text-align: end;
}

.weather-conditions-container {
  /* border: solid; */
  display: flex;
  justify-content: space-between;
}

.condition-item {
  /* border: solid; */
  display: flex;
  align-items: center;
  gap: 6px;
}

.condition-item i {
  font-size: 30px;
}

.forecast-item-container {
  display: flex;
  gap: 15px;
  overflow-x: scroll;
  padding: 12px;
}

.forecast-item-container::-webkit-scrollbar {
  height: 10px;
  /* display: none; */
}

.forecast-item-container::-webkit-scrollbar-track {
  background: #ffffff1a;
  border-radius: 99px;
}

.forecast-item-container::-webkit-scrollbar-thumb {
  background: #65656594;
  border-radius: 99px;
}

.forecast-item {
  /* border: #00000026 solid 1px; */
  min-width: 70px;
  background: #ffffff1a;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  align-items: center;
  border-radius: 15px;
  transition: 0.25s background;
}

.forecast-item:hover {
  background: rgba(255, 255, 255, 0.265);
}

.forecast-item-img {
  width: 35px;
  height: 35px;
  object-fit: cover;
}

/* SECTION MESSAGE */

.section-mssg {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
  margin-top: 20px;
}

.section-mssg img {
  height: 180px;
  width: fit-content;
}

/* Responsive scaling for tablets and up */
@media (min-width: 600px) {
  .main-container {
    width: 400px;
    height: 550px;
  }
}
